@font-face {
    font-family: Open Sans Condensed;
    src: url("src/assets/font/OpenSansCondensed-Bold.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Open Sans Condensed;
}
#logo{
    width: 30%;
    display: block;
    margin-left: 30%;
    margin-right: auto;
}
ion-toolbar{
    --ion-text-color: #2e4094;
}
.fundo{
    height: 100%;
    width: 100%;
}
.fundo-foto{
    height: 40%;
}
.iconeogn{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top: -10%;
    z-index: 99999;
    position: absolute;
}
.iconeogn img{
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(235,226,235,0.5);
    -moz-box-shadow: 0px 0px 5px 4px rgba(235,226,235,0.5);
    box-shadow: 0px 0px 5px 4px rgba(235,226,235,0.5);
}
.conteudo{
    height: 100%;
    border-radius: 10%;
    background-color: white;
    z-index: 2;
    margin-top: -32%;
}
.dados{
    top: 40%;
    position: absolute;
    width: 85%;
    left: 5%;
}
.btnFoto{
    --background: #293885;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 40px;
    
}
.btnConcluir{
    --background: #293885;
}
.alert-custom{
    
}