<ion-menu side="start" content-id="main-content">
  <ion-header class="titulo">
    <ion-toolbar>
        <ion-item id="topo">
          <ion-avatar slot="start" height="70">
            <img src="http://192.168.15.7/CopiaApp/TesteFire/api/{{image}}">
            <!-- <img src="http://192.168.0.19/CopiaApp/TesteFire/api/{{image}}"> -->
          </ion-avatar>
          <ion-label style="margin-left: 5%;">{{email}}</ion-label>
        </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="lista">
      <ion-item>
        <img id="icone" slot="start" src="../assets/img/sydney-opera-house.png" width="23" height="23">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="OpenCampanhas()">
          <img id="icone" slot="start" src="../assets/img/telegrama.png" width="23" height="23">
          <ion-label>Campanhas</ion-label>
      </ion-item>
      <ion-item (click)="OpenCrud(id)">
          <img id="icone" slot="start" src="../assets/img/configuracoes.png" width="23" height="23">
          <ion-label>Configurações</ion-label>
      </ion-item>
      <ion-item (click)="Logout()">
          <img id="icone" slot="start" src="../assets/img/sair.png" width="23" height="23">
          <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="../assets/img/doe+SimpleLogoTransparenteBlue.png" id="logo">
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown"></ion-refresher-content>
        </ion-refresher>

        <ion-slides>
          <ion-slide *ngFor="let postagem of posts" (click)="OpenModal(postagem.idOng)">
            <img src="{{postagem.fotoOng}}">
            </ion-slide>
        </ion-slides>

      <ion-card *ngFor="let ong of ongs" class="card-timeline" (click)="OpenOng(ong.idOng)">
        <div class="topocard" >
          <img src="{{ong.fotoOng}}" style="width: 100%;height: 100%;object-fit: contain;">
        </div>
        <div class="conteudo-card">
          <ion-card-title style="color: #293885;">{{ong.nomeOng}}</ion-card-title>
          <ion-card-subtitle style="color:rgba(22, 21, 21, 0.705)">{{ong.descricaoOng}}</ion-card-subtitle>
        </div>       
      </ion-card>
        
        <!-- <img src="http://10.42.0.208/CopiaApp/TesteFire/api/{{image}}"> -->

        <!-- <ion-input type="text" placeholder="Pesquisar" id="search">
          <img src="../assets/img/procurar.png" slot="start" width="23" height="23" style="margin-left: 2%;">
        </ion-input> -->
  
        <!-- <ion-card *ngFor="let ong of ongs" style="margin-top: 2%;border-radius: 5%;">
          <ion-card-header>
            <ion-card-subtitle style="border: none;">
                <ion-item lines="none">
                    <ion-avatar slot="start" id="avatarOng"> 
                        <img src="{{ong.fotoOng}}">
                    </ion-avatar>
                    <ion-label style="margin-left: 3%;">
                      <h3>{{ong.nomeOng}}</h3>
                    </ion-label>
                  </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="imgONG">
              <img src="{{ong.fotoOng}}">
            </div>
          </ion-card-content>
        </ion-card> -->

    </ion-content>

  </div>