<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="topo">
        <!-- <ion-title style="float: right;color: #2e4094;margin-right: 5%;"(click)="BackHome()">SALVAR</ion-title> -->
      <ion-title style="margin-left: 8%;">{{nomeOng}}</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>


<ion-content>

    <!-- <div class="iconeong">
      <img src="{{fotoOng}}" style="width: 100%;;position: absolute;">
    </div> -->
    <div class="fundo">
      <div class="iconeogn">
        <img id="iconeuser" src="{{fotoOng}}">
      </div>
      <div class="conteudo">

        <div class="dados">
          <ion-grid>
              <ion-row>
                  <ion-col>
                    <div>
                    <p style="color: #0984e3;font-size: 25px;">{{nomeOng}}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-bottom: 20px;">
                  <ion-col>
                    <div style="text-align: left;font-size: 13px;color: #74b9ff;">
                    <p>{{descricaoOng}}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-bottom: 20px;">
                  <ion-col>
                    <div style="color: #0984e3;font-size: 17px;">
                    <p>Endereço</p>
                    </div>
                    <ion-row>
                      <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{logradouroOng}}</p>
                    </ion-row> 
                  </ion-col>
                  <ion-col style="left: 5%;">
                      <p style="color: #0984e3;font-size: 17px;">Cep</p>
                      <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{cepOng}}</p>
                  </ion-col>
                  <ion-col>
                      <p style="color: #0984e3;font-size: 17px;">Número</p>
                      <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{numeroOng}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p style="color: #0984e3;font-size: 17px;">Bairro</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                  <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{bairroOng}}</p>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: 20px;">
                  <ion-col>
                    <p style="color: #0984e3;font-size: 17px;">Telefone</p>
                    <ion-row>
                        <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{telefoneOng}}</p>
                    </ion-row>
                  </ion-col>
                  <ion-col>
                      <p style="color: #0984e3;font-size: 17px;">E-mail</p>
                      <p style="text-align: left;color: #74b9ff;font-size: 14px;">{{emailOng}}</p>
                  </ion-col>
                </ion-row>
          </ion-grid>
          <ion-slides pager="false" class="slides">
            <ion-slide *ngFor="let campanha of campanhas" (click)="OpenModal(campanha.idCampanha)">
              <img src="{{campanha.fotoCampanha}}" style="width: 100%;height: 100%;
              object-fit: cover;" >
            </ion-slide>
          </ion-slides>
        </div>

        </div>
    </div>

</ion-content>
