<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div class="topo">
        <!-- <ion-title style="float: right;color: #2e4094;margin-right: 5%;"(click)="BackHome()">SALVAR</ion-title> -->
        <ion-title style="margin-left: 8%;">Editar Perfil</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>


<ion-content>

    <div style="margin-left: 37%;">
      <img id="iconeuser" width="90" height="90" style="margin-top: 5%;border-radius: 50%;">
    </div>

</ion-content>
