<!-- <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button slot="end" (click)="dismissModal()">Fechar</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-content>

    <div class="fundo">
        <div class="fotocampanha">
          
        </div>
        <div class="iconeong" style="margin-bottom: 10px;">
            <p style="color: #293885;font-size: 25px;">Postagem</p>
        </div> 
        <div class="conteudo">
            <ion-grid>
                <ion-row>
                    <ion-col>
                      <div>
                      <p style="color: #293885;font-size: 25px;">{{nomeOng}}</p>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-bottom: 23px;">
                    <ion-col>
                      <div style="font-size: 13px;color:rgba(22, 21, 21, 0.705);">
                      <p>{{descPostagem}}</p>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-button class="btnDoar" (click)="dismissModal()">
                    Fechar
                  </ion-button>
            </ion-grid>
        </div>
    </div>
  </ion-content>
  